---
layout: default
titleAfter: Stellar astronomical objects from the universer.
meta: Discover many planets from the universe both inside and outside our Solar System.
priority: 1.0
---

<h1> Hi there, I'm Ethan Penx! </h1>
<p> Lots of planets in the universes</p>

<h2> Types of Planets </h2>

<ol>
{% for planet in site.data.planet-types %}
	<li>
	<a href="{{site.baseurl}}/planets/{{planet.folder}}/index.html">{{ planet.title }}</a>
	{{planet.content | markdownify}}
	</li>
{% endfor %}
</ol>

<h1>Recently-discovered</h1>

<ul>
	{% for rd in site.categories.recently-discovered limit:5 %}
	<li>
		<a href="{{site.baseurl}}{{rd.url}}">{{rd.title}}</a>
		<p>{{rd.meta}}</p>
	</li>
	{% endfor %}
</ul>